menu "Sensores de Luz (ADC/LDR)"
    config LDR_MIN_OHM
        int "Resistencia Mínima LDR (Ohms)"
        default 4000
        help
            Valor de resistencia en máxima luminosidad (luz directa).

    config LDR_MAX_OHM
        int "Resistencia Máxima LDR (Ohms)"
        default 1000000
        help
            Valor de resistencia en oscuridad total.
endmenu

menu "Hardware I2C"
    config I2C_SDA_PIN
        int "Pin SDA"
        default 21
        
    config I2C_SCL_PIN
        int "Pin SCL"
        default 22
        
    config I2C_FREQ_HZ
        int "Frecuencia I2C (Hz)"
        default 100000
endmenu

menu "Batería y Energía"
    config BAT_CAPACITY_AH
        string "Capacidad de la Batería (Ah)"
        default "2.6"
        help
            Capacidad nominal de la batería en Amperios-hora.

    config SHUNT_RESISTOR_OHM
        string "Resistencia Shunt INA219 (Ohms)"
        default "0.1"
        help
            Valor de la resistencia shunt (Rshunt).

    config MAX_CURRENT_PANEL_A
        string "Corriente Máxima INA219 (P)"
        default "1.0"
        
    config MAX_CURRENT_BAT_A
        string "Corriente Máxima INA219 (B)"
        default "1.0"
        
    config INA_ADDR_PANEL
        hex "Dirección I2C Sensor Panel"
        default 0x40
        range 0x40 0x4F
        help
            Dirección I2C física del sensor INA219 conectado al Panel.

    config INA_ADDR_BAT
        hex "Dirección I2C Sensor Batería"
        default 0x41
        range 0x40 0x4F
        help
            Dirección I2C física del sensor INA219 conectado a la Batería.
endmenu
